/Prac/nbproject/private/
/Prac/build/
/Assignment1/nbproject/private/
/BigInteger/nbproject/private/
/Assignment3/nbproject/private/
/Assignment3/build/
/methodFile/nbproject/private/
/methodFile/build/
/pracAnthony/nbproject/private/
/Ass3Lauren/nbproject/private/
/Ass3Lauren/build/
/Inclass/nbproject/private/
/Inclass/build/
/Circle/nbproject/private/
/Circle/build/
/DrawShapes/nbproject/private/
/Nibbles/nbproject/private/
/Nibbles/build/
/MiniJava/nbproject/private/
/TinyJavaApp/nbproject/private/
/TinyJavaApp/build/
/App/nbproject/private/
/TinyJavaApp/dist/
/DrawShapes/build/
/SwingTutorial/nbproject/private/
/Swing1/nbproject/private/
/Swing1/build/